// Background Colors
$nearly_white_background: #ddf;
$light_background: #ccf;
$medium_background: #aaf;
$dark_background: #99f;
$nearly_black_background: #0e0b50;

// Text colors
$dark_text: #111;
$medium_text: #888;
$light_text: #aaa;

// Padding
$med_pad: 10px;

