// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content{
  width: 600px;
  margin: 0 auto;
}
#rumor_headings{
  width: 295px;
  display: inline-block;
}

#rumor_details{
  width: 295px;
  display: inline-block;
}
