// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sassvars';

body{
  background-color: $nearly_black_background;
}
#content{
  width: 600px;
  margin: 0 auto;
  position: relative;
  height: 600px; // Resets dynamically later
  background-color: $nearly_white_background;
}
#rumor_headlines{
  width: 295px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: $column_top;
}

#rumor_details{
  top: $column_top; 
  width: 295px;
  display: inline-block;
  font-size: 19px;
  padding: 12px;
  padding-top: 22px;
  width: 270px;
  position: absolute;
  right: 0;
  background-color: $medium_background;
  min-height: 300px;
}

#title{
  padding: 17px;
  text-align: center;
  font-size: 25px;
  color: $dark_text;
  .luxuriant{
    font-size: 35px;
    color: purple;
    font-style: italic;
  }

}


