// Place all the styles related to the rumors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sassvars';

li{
  color: $dark_text;
  padding: 2px;
  font-size: 25px;
  background-color: $light_background;
  list-style: none;
  &.already_read{
    color: $medium_text;
  }
  cursor: default;
  border: 1px solid grey;
  margin: 2px 0;
  &:hover{
    background-color: $dark_background !important;
  }
  &.current_rumor{
    background-color: $medium_background;
  }
}

///////////////////  Rumor Detail /////////////////////
#edit_rumor_button{
  position: absolute;
  bottom: -23px;
  right: 3px;
}
.detail_headline, .detail_body, .detail_author{
  color: $dark_text;
}
.detail_headline{
  font-size: 27px;
  padding: $med_pad;
  text-align: center;
}
.detail_body{
  font-size: 20px;
  padding: $med_pad;
}
.detail_author{
  font-size: 18px;
  font-style: italic;
  padding: $med_pad;
}


#new_rumor_button{
  position: absolute;
  top: -22px;
  right: -303px;
  display: inline-block;
  &:hover{
    background-color: $medium_background;
  }
}
form{
  label{
    font-size: 12px;
    float: right;
    padding-top: 5px;
    padding-right: 2px;
  }
  textarea{
    height: 21ex;
  }
  textarea, input[type='text']{
    width: 180px;
    float: right;
    margin-bottom: $small_pad;
  }
}
form#new_rumor_form, form#edit_rumor_form{
  #button_holder{
    padding: $med_pad 0;
    float: right;
  }
}

/////// Submit Buttons //////////
#new_rumor_submit, #rumor_update, #new_rumor_cancel{
  float: right;
}
