<!DOCTYPE html>
<html>
<head>
  <title>Grapevine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- putting javascript at the bottom so it loads last -->
<%= javascript_include_tag "application" %>
<div id='footer'>
  <p>&copy;Jack Desert 2013</p>
  <p>View the <a href='http://github.com/jackdesert/grapevine'>Grapevine source code</a></p>
</div>
</body>
</html>
